/*=====================================================HEADER=================================================*/
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #969696;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
}

header {
  position: relative;
  z-index: 999;
}

.headerPrincipal {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  height: 95px;
}

.navbar-default {
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  position: relative;
}

.navbar-brand {
  float:left;
  width: 235px;
  height: 95px;
  background-color: transparent;
  padding: 24px 15px 24px 15px;
}

.headerPrincipal .navbar-brand {
  background-image: url("http://i67.tinypic.com/2e2iays.jpg");
  background-position: 0px 19px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 203px 54px;
  height: 95px;
}

.navbar-nav > li > a {
  margin: 38px 15px 29px 15px;
}

#registroOFR > li > a {
  margin: 38px 15px 29px 50%;
}

/*=====================================================FOOTER=================================================*/
.footer {
  width: 100%;
  display: block;
  background-color: #262a2e;
  padding: 80px 0;
}

.footerContent p {
  color: #929497;
  font-size: 14px;
}

.footerContent .list-unlysted li {
  color: #929497;
  margin-bottom: 15px;
}

.footerContent .list-unlysted li a {
  color: #929497;
}

.footerContent .list-unlysted li i {
  margin-right: 10px;
}

.footerContent h5 {
  font-size: 15px;
  color: #ffffff;
  line-height: 21px;
  margin: 25px 0;
  text-transform: uppercase;
  font-family: "Montserrat",sans-serif;
}

.footer-logo {
  display: block;
  margin-bottom: 25px;
}

.footerContent .input-group {
  border: 1px solid #4a4e52;
  border-radius: 5px;
  margin-bottom: 30px;
}

.footerContent .input-group .form-control {
  background-color: transparent;
  border: 0;
  color: #929497;
}

.footerContent .input-group .input-group-addon {
  border-radius: 4px;
  background-color: #565b61;
  border: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footerContent .input-group .input-group-addon i {
  color: #ffffff;
}
.footerContent .input-group .input-group-addon:hover {
  background-color: #ff891e;
  border-color: #ff891e;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)";
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.footerContent .list-inline li a {
  display: block;
  text-align: center;
  border: 1px solid #4a4e52;
  border-radius: 100%;
  color: #ffffff;
}

.footerContent .list-inline li a:hover {
  border-color: #ff891e;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)";
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.footerContent .list-inline li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
  }
/*=====================================================Login=================================================*/
#login.container{
  margin-bottom: 200px;
}
#login .colorgraph {
  height: 5px;
  border-top: 0;
  background: #62c2e4;
  border-radius: 5px;
}

#login .logo {
  background-image: url("http://i67.tinypic.com/2e2iays.jpg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
  margin-bottom: 10px;
  width: 300px;
  height: 95px;
  text-indent: -9999px;
  margin: 0 auto;
}

#login .checkbox label {
  margin-top: 7px;
}
/*=====================================================perfilActividad=================================================*/
